
        
    [ ca ]
    default_ca = ca_homestead_homestead

    [ ca_homestead_homestead ]
    dir           = /etc/nginx/ssl
    certs         = /etc/nginx/ssl
    new_certs_dir = /etc/nginx/ssl

    private_key   = /etc/nginx/ssl/ca.homestead.homestead.key
    certificate   = /etc/nginx/ssl/ca.homestead.homestead.crt

    default_md    = sha256

    name_opt      = ca_default
    cert_opt      = ca_default
    default_days  = 365
    preserve      = no
    policy        = policy_loose

    [ policy_loose ]
    countryName             = optional
    stateOrProvinceName     = optional
    localityName            = optional
    organizationName        = optional
    organizationalUnitName  = optional
    commonName              = supplied
    emailAddress            = optional

    [ req ]
    prompt              = no
    encrypt_key         = no
    default_bits        = 2048
    distinguished_name  = req_distinguished_name
    string_mask         = utf8only
    default_md          = sha256
    x509_extensions     = v3_ca

    [ v3_ca ]
    authorityKeyIdentifier = keyid,issuer
    basicConstraints       = critical, CA:true, pathlen:0
    keyUsage               = critical, digitalSignature, keyCertSign
    subjectKeyIdentifier   = hash

    [ server_cert ]
    authorityKeyIdentifier = keyid,issuer:always
    basicConstraints       = CA:FALSE
    extendedKeyUsage       = serverAuth
    keyUsage               = critical, digitalSignature, keyEncipherment
    subjectAltName         = @alternate_names
    subjectKeyIdentifier   = hash

        [ req_distinguished_name ]
        O  = Vagrant
        C  = UN
        CN = skatefitter.lab

        [ alternate_names ]
        DNS.1 = skatefitter.lab
        DNS.2 = *.skatefitter.lab
    
